{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="page">

    <header class="site-header">
        <div class="logo">
            <!-- rect: Rectangle -->
        <div class="shape rect rectangle-549188cc3823">
        </div>
        <!-- rect: etoile -->
        <div class="shape rect etoile-5491a582c8a5">
        </div>
        <!-- rect: etoile -->
        <div class="shape rect etoile-549171bd138c">
        </div>
        <!-- rect: etoile -->
        <div class="shape rect etoile-549188cc3821">
        </div>
        <!-- rect: Rectangle -->
        <div class="shape rect rectangle-548ebf4cd5b2">
        </div>
        <!-- rect: Rectangle -->
        <div class="shape rect rectangle-549171bd1389">
        </div>
        <!-- rect: etoile -->
        <div class="shape rect etoile-549188cc3822">
        </div>
        <!-- rect: etoile -->
        <div class="shape rect etoile-549171bd138a">
        </div>
        <!-- rect: etoile -->
        <div class="shape rect etoile-549171bd138b">
        </div>

            <h1>LOGECOM</h1>
            <!-- rect: etoile -->
        <div class="shape rect etoile-5490fa55aab9">
        </div>
        <!-- rect: etoile -->
        <div class="shape rect etoile-5491564a694a">
        </div>
        <!-- rect: etoile -->
        <div class="shape rect etoile-54911f3ca7fe">
        </div>
        <!-- rect: etoile -->
        <div class="shape rect etoile-54915c255bdb">
        </div>
        <!-- rect: etoile -->
        <div class="shape rect etoile-5490e94399fb">
        </div>
        <!-- rect: etoile -->
        </div>
        <nav class="nav_header">
            <ul class="nav_header_ul">
                <li class="li_header"><a href="#">ACCUEIL</a></li>
                <li class="li_header"><a href="#">à Propos</a></li>
                <li class="li_header"><a href="#">CONNEXION</a></li>
                <li class="li_header"><a href="#">CONTACTEZ-NOUS</a></li>
            </ul>
        </nav>
    </header>
    <main class="home-content">
        <section class="featured-product">
            <h2>PRODUIT MIS EN AVANT</h2>

            <article class="product-card">
                <h3>TITRE DU PRODUIT</h3>

                {# On ajoutera l'image ici #}

                <p>UN PETIT BOUT DE DESCRIPTION</p>

                <a class="buy-button" href="#">ACHETER</a>
            </article>
        </section>
        <aside class="cart">
            <h2>PANIER</h2>
        </aside>
    </main>
</div>
{% endblock %}
