{% extends 'base.html.twig' %}
{% block body %}
<main>
<h2>presentation</h2>
 
<video height="300" width="600" controls>
    <source src="#" type="video/mp4">
</video>
<p>
    
    <h3>Bienvenue sur notre site de vente en ligne !</h3>
    <p>Nous sommes ravis de vous accueillir dans notre boutique en ligne, où vous trouverez une large sélection de produits de qualité à des prix compétitifs. Que vous soyez à la recherche d'articles pour votre maison, votre garde-robe ou vos loisirs, nous avons tout ce dont vous avez besoin.</p>
    <p>Notre équipe est passionnée par la satisfaction de nos clients et nous nous engageons à offrir un service exceptionnel. Nous travaillons avec des fournisseurs fiables pour garantir que chaque produit que nous proposons répond à nos normes élevées de qualité.</p>
    <p>Nous espérons que vous apprécierez votre expérience d'achat sur notre site et que vous trouverez exactement ce que vous cherchez. N'hésitez pas à parcourir nos catégories de produits et à profiter de nos offres spéciales.</p>
    <p>Merci de faire vos achats chez nous et nous espérons vous revoir bientôt !</p>
</p>


</main>
{% endblock %}