/* ====================
    FORMULAIRES
======================== */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.form-container {
    
    width: min(90%, 500px);
    margin: 60px auto;
    padding: 30px;

    background-color: var(--wight);
    color: var(--bg-dark);

    border-radius: 8px;
}

.form-title {
    margin-bottom: 30px;
    text-align:center;
    color: var(--bg-dark);
}

.form-group {
    margin-bottom: 20px;
    width: 320px;
}

.form-group input{
    width: 100%;
    min-height: 36px;
    padding: 8px 10px;
    border: 1px solid #777;
    background-color: var(--wight);
    font-size: 18px;
}



.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--bg-dark);
}

.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.form-submit{
    width: 30%;
    padding: 12px;

    background-color: var(--bg-dark);
    color: var(--wight);

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.form-submit:hover{
    background: var(--yellow);
    color: var(--bg-dark);
}

.form-error,
.form-info {
    margin-bottom: 20px;
    padding: 12px;

    background: var(--bg-dark);
    color: var(--wight);

    border-left: 5px solid var(--yellow);

}

.form-info a {
    color: var(--yellow);
}

.form-help {
    margin-top: 20px;
    text-align: center;
    color: var(--bg-dark);
}

.form-help a{
    color: var(--bg-dark);
    font-weight: bold;
}

.form-help a:hover {
    background: var(--yellow);
}

.form-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.form-container .form-checkbox input[type="checkbox"]{
    width: auto;
    margin: 0;
}

.form-checkbox label {
    margin: 0;
}

.form-checkbox ul {
    width: ;
}


