<header class="site-header">
        <div class="identite_site">
            <div class="etoile_gauche">
                <div class="premier_etoile haut_gauche_1">
                </div>
                <div class="premier_etoile haut_gauche_2">
                </div>
                <div class="premier_etoile haut_gauche_3">
                </div>
                <div class="premier_etoile milieu_gauche_1">
                </div>
                <div class="premier_etoile milieu_gauche_2">
                </div>
                <div class="premier_etoile bas_gauche_1">
                </div>
            </div>
            <div class="title_milieu">
                <h1 class="title">LOGECOM</h1>
            </div>
            <div class="etoile_droite">
                <div class="premier_etoile haut_droite_1">
                </div>
                <div class="premier_etoile haut_droite_2">
                </div>
                <div class="premier_etoile haut_droite_3">
                </div>
                <div class="premier_etoile milieu_droite_1">
                </div>
                <div class="premier_etoile milieu_droite_2">
                </div>
                <div class="premier_etoile bas_droite_1">
                </div>
            </div>
        </div>
        </div>
        <nav class="nav_header">
            <ul class="nav_header_ul">
                <li class="li_header"><a class="lien_nav" href="{{ path('home')}}">ACCUEIL</a></li>
                <li class="li_header"><a class="lien_nav" href="{{ path('presentation')}}">à Propos</a></li>
                <li class="li_header"><a class="lien_nav" href="{{ path('app_login')}}">CONNEXION</a></li>
                <li class="li_header"><a class="lien_nav" href="{{ path('contact')}}">CONTACTEZ-NOUS</a></li>
            </ul>
        </nav>
    </header>