{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>CONTACT</h1>

    <p>Test avant formulaire</p>

    {{ form(form) }}

    <p>Test après formulaire</p>
{% endblock %}
